@font-face {
  font-family: Ubuntu;
  font-weight: normal;
  font-style: normal;
  src: url("./Ubuntu-Regular.ttf");
}

@font-face {
  font-family: Ubuntu;
  font-weight: bold;
  font-style: normal;
  src: url("./Ubuntu-Bold.ttf");
}

@font-face {
  font-family: Ubuntu;
  font-weight: 500;
  font-style: normal;
  src: url("./Ubuntu-Medium.ttf");
}

@font-face {
  font-family: Ubuntu;
  font-weight: 300;
  font-style: normal;
  src: url("./Ubuntu-Light.ttf");
}

@font-face {
  font-family: Ubuntu;
  font-weight: bold;
  font-style: italic;
  src: url("./Ubuntu-BoldItalic.ttf");
}

@font-face {
  font-family: Ubuntu;
  font-weight: 500;
  font-style: italic;
  src: url("./Ubuntu-MediumItalic.ttf");
}

@font-face {
  font-family: Ubuntu;
  font-weight: 300;
  font-style: italic;
  src: url("./Ubuntu-LightItalic.ttf");
}
