@import "variables";

.ng-simple-datepicker {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;

  padding-inline: $dpi-input-padding-inline;

  margin-top: $dpi-margin-top;
  margin-bottom: $dpi-margin-bottom;

  border-radius: $dpi-input-border-radius !important;
  border-color: $dpi-input-border-color;
  border-style: $dpi-input-border-style;
  border-width: $dpi-input-border-width;
  box-sizing: border-box;

  background-color: $dpi-input-background-color;

  &.focus {
    border-color: $dpi-input-border-color-focus !important;
  }

  &.input-valid {
    border-color: $dpi-input-border-color-valid !important;
  }

  &.input-invalid {
    border-color: $dpi-input-border-color-invalid !important;
  }

  &.input-in-form-invalid {
    border-color: $dpi-input-border-color-in-form-invalid !important;
  }

  .datepicker-input-text {
    flex-grow: 1;

    height: $dpi-input-height;
    max-height: $dpi-input-height;
    min-height: $dpi-input-height;

    padding-block: $dpi-input-padding-block;

    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    box-sizing: border-box;

    font-size: $dpi-input-font-size;
    color: $dpi-input-font-color;
    font-family: $dpi-input-font-family;
    font-weight: $dpi-input-font-weight;
    font-style: $dpi-input-font-style;

    z-index: $dpi-z-index;

    background-color: inherit;

    &:focus-visible, &:focus {
      border: none !important;
      outline: none !important;
    }

    &::placeholder {
      color: $dpi-input-placeholder-font-color;
      opacity: $dpi-input-placeholder-opacity;
    }
  }

  .datepicker-open-button {
    flex-shrink: 1;
    font-size: $dpi-button-font-size;
    color: $dpi-button-font-color;
    margin-left: $dpi-button-margin-left;
    box-sizing: border-box;
    cursor: pointer;
    z-index: $dpi-z-index;
  }

  .datepicker-container {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;

    margin-inline: $dpi-input-padding-inline;
    margin-block: $dpi-input-padding-block;

    z-index: $dpi-z-index - 1;

    .datepicker-input {
      width: 100%;
      height: 100%;
      visibility: hidden;
    }
  }

  &.disabled {
    background-color: $dpi-disabled-input-background-color;

    .datepicker-input-text {
      color: $dpi-disabled-input-font-color;
    }

    .datepicker-open-button {
      color: $dpi-disabled-input-font-color;
      cursor: default;
      pointer-events: none;
    }
  }
}
