<div class="ng-simple-datepicker" [class]="formH.inputClasses(form, inputKey, formGlobalError)" [class.focus]="hasFocus" [class.disabled]="disabled">
  <input
    [id]="inputKey"
    class="datepicker-input-text"
    type="text"
    [textMask]="{ mask: mask, keepCharPositions: true, guide: true, pipe: autoCorrectedDatePipe }"
    [ngModel]="displayedValue"
    (ngModelChange)="onModelChange($event)"
    [placeholder]="placeholder"
    (focusin)="onFocus(true)"
    (focusout)="onFocus(false)"
    [disabled]="disabled"
    ngxOnlyNumber
  />
  <div class="datepicker-container" #dpContainer>
    <input id="datepicker" type="text" name="datepicker" class="datepicker-input" readonly />
  </div>
  <div (click)="openDatepicker()" class="datepicker-open-button">
    <i class="ngx-sdp ngx-sdp-calendar"></i>
  </div>
</div>
