@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("./OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  src: url("./OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  font-style: normal;
  src: url("./OpenSans-Medium.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("./OpenSans-Light.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: italic;
  src: url("./OpenSans-BoldItalic.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  font-style: italic;
  src: url("./OpenSans-MediumItalic.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: italic;
  src: url("./OpenSans-LightItalic.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
  src: url("./OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: italic;
  src: url("./OpenSans-SemiBoldItalic.ttf");
}
